<section id = "mainarea">
  <section id = "toolbar">
    Ember.js Meetup Demo
  </section>
  <span id = "addBtn">
  <a href = "#" class = 'small success button' {{action addBox}}> Add Box </a>
  </span>
  {{view 'App.BoxView'}}
</section>